header {
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 15%;
}

#header-search-bar {
    justify-content:end;
    display: flex;
}



.header_left {
    width: 30%;
    text-align: left;
    align-items: left;
    float: left;
    display: flex;
    justify-content: flex-start;
}

.header_right {
    width: 30%;
    text-align: right;
    align-items: right;
    float: right;
    display: flex;
    justify-content: flex-end;
}
/* Nav bar */
.main {
    display: flex; 
}

/* section */
.photos{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

/* .cell-2 img{
    max-width: 100%;
} */

.cell img{
    height: 100%;
    max-width: 100%;
}


/* footer */
footer {
    display:flex;
    justify-content: space-around;
}



footer img {
    max-width: 15%;
}

